/* .banner {
    position: fixed;
} */

.top {
    /* background-color: rgb(245, 245, 245); */
    height: 115px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* position: fixed; */
    border-bottom: 1px solid rgb(233, 233, 233);
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;

    width: 110px;
}

.initial-contact {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #eff7ff;
    width: 500px;
    border-radius: 25px;
}