
.top {
    height: 115px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* position: fixed; */
    border-bottom: 1px solid rgb(233, 233, 233);
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 110px;
}

.initial-contact {
    max-width: 550px;
    border-radius: 25px;
    background-color: #eff7ff;
    font-size: 19px;
}

.initial-button {
    border: 2px solid #b2d8ff;
    padding: 8px;
    background-color: #f5faff;
    border-radius: 8px;
    font-size: 22px;
    color: #5aacff;
    font-family: 'Crimson Text', serif;
}

.initial-button:hover {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #b2d8ff;
}

