.find-project {
    display: block;
    background-color: #eff7ff;
    max-width: 350px;
    border-radius: 25px;
}

.find-or-create-project {
    background-color: #eff7ff;
    max-width: 300px;
    display: block;
    border-radius: 25px;
}

.small-space {
    font-size: 1.8px;
}

.search-by-name {
    color:#5aacff;
    font-size: 31px;
    letter-spacing: 1px;
    font-family: 'Crimson Text', serif;
}

.project-input {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.project-input:hover {
    border: 1px solid #5aacff;
}

.task-content {
    color: #9169ff;
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    font-weight: bold;
}

.check {
    color: rgb(77, 77, 255);
    font-family: 'Crimson Text', serif;
}