.find-project {
    display: none;
    background-color: #eff7ff;
    max-width: 300px;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.find-or-create-project {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #eff7ff;
    max-width: 300px;
    display: none;
}

.search-by-name {
    color:#5aacff;
    font-size: 25px;
}

.project-input {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.project-input:hover {
    border: 1px solid #5aacff;
}