.responsive {
    width: 100%;
    height: auto;
}

.shadow {
    box-shadow: 2px 2px 9px rgb(235, 235, 235)
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

.footer {
    background-color: #eff7ff;
    height: 20px;
}
