.responsive {
    width: 100%;
    height: auto;
}

.shadow {
    box-shadow: 2px 2px 9px rgb(235, 235, 235)
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

.footer {
    background-color: #eff7ff;
    height: 20px;
}

.fake-hover:hover {
    cursor: pointer;
}

.initial-button:hover {
    cursor: pointer;
}

.small-button{
    font-size: 15px;
}

.label-font {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 28px;
    color: #be84f5;;
}

li {
    text-align: center;
    /* list-style-position: inside; */
    color: #9169ff;
    font-family: 'Crimson Text', serif;
    font-size: 19px;
    font-weight: bold;
}